<mat-list>
    <app-task *ngFor="let task of activeTasks"
    (madeChanges)="refresh()" 
    [task]="task"

    [otherLists]="otherLists"
    [currentListId]="currentListId">
    </app-task>
</mat-list>

<mat-expansion-panel *ngIf="completedTasks.length > 0">
    <mat-expansion-panel-header>
      completed tasks
    </mat-expansion-panel-header>
    <!-- <button mat-button (click)="delete_completed_tasks()">Delete Completed Tasks</button> -->
    <mat-list>    
        <app-task *ngFor="let task of completedTasks"
        (madeChanges)="refresh()"
        [task]="task" 

        [button_style]="'done'" 
        [text_decoration]="'line-through'">
        </app-task>
    </mat-list>
</mat-expansion-panel>