<mat-list>
    <app-task *ngFor="let task of activeTasks" 
    (toggledComplete)="seperateTasks()"
    (taskLeftList)="removeTask($event)"

    [task]="task"
    [otherLists]="otherLists"
    [button_style]="'check_box_outline_blank'">
    </app-task>
</mat-list>

<mat-expansion-panel *ngIf="completedTasks.length > 0">
    <mat-expansion-panel-header>
      completed tasks
    </mat-expansion-panel-header>
    <mat-list>    
        <app-task *ngFor="let task of completedTasks"
        (toggledComplete)="seperateTasks()"

        [task]="task" 
        [button_style]="'done'" 
        [text_decoration]="'line-through'">
        </app-task>
    </mat-list>
</mat-expansion-panel>

<br>