.main{
    background-color: #E6E6FA;
    position: fixed;
    width: 100%;
    padding-block: 20px;

}

.push-right{
    float: right;
    padding-inline: 5px;
}

@media screen {
    .main {bottom: 0px;}
}