<div *ngIf="task" class="main">
    <button mat-button (click)="toggleComplete(task)">
        <mat-icon>{{button_style}}</mat-icon>
    </button>
    
    <div class="inline-block">
        <mat-list-item>
            <div matListItemTitle [style.text-decoration]="text_decoration"> {{task.name}} </div>
            <div matListItemLine>{{task.description}}</div>
        </mat-list-item>           
    </div>
    

    <button class="push-right" mat-icon-button [matMenuTriggerFor]="menu" *ngIf="task.complete == false">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="list_locations" *ngIf="otherLists.length > 0">move</button>
        <button mat-menu-item (click)="deleteTask()">delete</button>
    </mat-menu>
    <mat-menu #list_locations="matMenu">
        <button *ngFor="let list of otherLists" 
        mat-menu-item
        (click)="move(list.id, task.id)">
            {{list.name}}
        </button>
    </mat-menu>
</div>

